doctype html
html
  head
    title Age Estimation - CSC481 Artificial Intelligence Final Project
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
